* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* тут добавил margin-bottom: ; */
}

header.main .container {
    padding-top: 20px;
}

header.main .logo a {
    color: #e8603c;
    font-size: 36px;
    text-decoration: none;
}

header.main .logo span {
    color: #f3af9d;
}

header.main .menu ul {
    display: flex;
    justify-content: space-between;
    width: 390px;
}

header.main .menu ul li {
    display: inline-block;
}

header.main .menu ul li a {
    text-decoration: none;
    color: #b9b9b9;
}

header.main .menu ul li.active a {
    color: #e8603c;
}

.banner .container>div {
    position: relative;
}

.banner .description {
    background-color: rgba(232, 102, 60, 0.8);
    position: absolute;
    width: 415px;
    bottom: 35px;
    left: 35px;
    color: white;
    padding: 25px 20px;
}

.banner .description h2 {
    font-size: 18px;
    margin-top: 0;
}

.banner .description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

.banner .scrol {
     width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner .scrol img {
    width: 140px;
}