* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header.main .container {
    padding-top: 20px;
}

header.main .logo a {
    color: #e8603c;
    font-size: 36px;
    text-decoration: none;
}

header.main .logo span {
    color: #f3af9d;
}

header.main .menu ul {
    display: flex;
    justify-content: space-between;
    width: 390px;
}

header.main .menu ul li {
    display: inline-block;
}

header.main .menu ul li a {
    text-decoration: none;
    color: #b9b9b9;
}

header.main .menu ul li.active a {
    color: #e8603c;
}

.banner .container>div {
    position: relative;
}

.banner .description {
    background-color: rgba(232, 102, 60, 0.8);
    position: absolute;
    width: 415px;
    bottom: 35px;
    left: 35px;
    color: white;
    padding: 25px 20px;
}

.banner .description h2 {
    font-size: 18px;
    margin-top: 0;
}

.banner .description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

.banner .container>img {
    width: 140px;
}

.banner .container:first-child {
    margin-bottom: 10px;
}

.banner {
    margin-bottom: 40px;
}

.features h3 {
    color: #e8603c;
    font-size: 18px;
    margin-bottom: 40px;
}

.features p {
    color: #414141;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.features .container {
    gap: 40px;
}

button {
    background-color: #e8603c;
    color: white;
    font-size: 12px;
    width: 55px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.features h3 {
    position: relative;
    padding-left: 70px;
}

.features h3::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

.features .cog::before {
    background-image: url("../images/cog.png");
}

.features .check::before {
    background-image: url("../images/check.png");
}

.features .user::before {
    background-image: url("../images/user.png");
}

.features {
    margin-bottom: 40px;
}

.recentWorks .container img {
    width: 220px;
}

.recentWorks .container {
    flex-direction: column;
}

.recentWorks .container .images {
    display: flex;
    justify-content: space-between;
}

.recentWorks .container h3 {
    font-style: 18px;
    color: #e8603c;
    background-color: #b9b9b9;
    margin-bottom: 30px;
}

.recentWorks .container span{
    background-color: #fff;
    padding-right: 20px;
}

.recentWorks p {
    font-size: 16px;
    color: #b9b9b9;
    /* border: 1px solid black; */
    margin-bottom: 0;
}

.recentWorks p~p {
    font-size: 12px;
    color: #e8603c;
    margin-top: 0;
}

.recentWorks {
    margin-bottom: 50px;
}

.recentWorks .images>div {
    border: 1px solid black;
}